/*This is my 201 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Kayla Itagaki and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing November 2020 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/bgimage.png)
	center center fixed no-repeat;
    background-size: cover;
	
}

.center {
    width: 480px;
	padding: 50px;
    margin: 60px auto;
 	border: 1px solid black;
	text-align: center;
    border-radius: 30%;
    
    
}

   
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
	text-align: center;
    padding: 1%;
}

h1 {
	font-family: ivypresto-headline, serif;
    font-weight: 600;
    font-style: normal;
	font-size: 4em;
    text-align: center;
    color: #fff;
}

h2 {
	font-family: gopher, sans-serif;
    font-weight: 00;
	font-size: 1.4em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

h3 {
    font-family: eckmannpsych, gopher, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.1px;
    font-size: 2em;
    font-feature-settings: "salt" 2;
    line-height: 0;
    color: black;
}
    
nav{
    font-family: gopher, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .3px;
    font-size: 1.2em;
    text-align: center;
    margin-top: 2em
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: white;
  font-weight: 800;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: black;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #333;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 1s;
}
/* By Dominik Biedebach @domobch */  }    

nav li{
    display: inline;
    }

nav a{
    display:inline-block;
    padding: 10px;
    }
